<nav>
    <div id='principal'>
      <button mat-button>
        <a routerLink="/"><mat-icon aria-hidden="false"  aria-label="Example home icon" inline=true>home</mat-icon> Inicio</a>
      </button>
  
      <button mat-button>
        <a routerLink="#"><mat-icon aria-hidden="false"  aria-label="Example home icon" inline=true>home</mat-icon>Mi Tablero</a>
      </button>

      <button mat-button>
        <a routerLink="#"><mat-icon aria-hidden="false"  aria-label="Example home icon" inline=true>home</mat-icon>Mi Agenda</a>
      </button>
   </div>
  
   <div id='secundario'>
    <button mat-button>
      <a routerLink="/sesion">Identificate</a>
    </button>
  </div>
  
  </nav>
